footer{
  background-color: rgb(58, 57, 57);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  
}
footer p{
  color: white;
  font-size: 14px;
}