body{
  height: 1400px;
  position: relative;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  margin-left: 100px;
  margin-top: 50px;
  row-gap: 50px;
}


main audio{
  width: 100%;
  cursor: pointer;
}
main a{
  background-color: rgb(131, 120, 120) !important;
  border: none !important;
}
main img{
  cursor: pointer;
}

.card{
  transition: box-shadow 0.6s ease, transform 0.6s ease;
  
}

.card:hover{
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.5);
  transform: translateY(15px);
}